# Do a clean build and commit back changes.
# This way any changes made via merge on github will be
# effective on main without needing a tagged release.
name: Build
on:
  push: { branches: main }
  workflow_dispatch:

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: { contents: write }
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          token: ${{secrets.BOT_TOKEN}}
      - uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{secrets.BOT_GPG_SIGN_KEY}}
          git_user_signingkey: true
      - run: npm ci
      - run: git diff --quiet || git commit -am Build --gpg-sign=FD5E66973D2B8B86
      - run: git push --signed=if-asked
