name: Release
on:
  push: { tags: "v*.*.*" }
  workflow_dispatch:
  workflow_call:

permissions: {}
jobs:
  release:
    uses: nodenv/.github/.github/workflows/release.yml@v6
    permissions: { contents: write, id-token: write }
    with: { homebrew: false, npm: false }

  sync:
    uses: nodenv/.github/.github/workflows/sync-major-version.yml@v6
    permissions: { contents: write }
