name: Sync Refs
on:
  push:
    branches: main
    tags: v*.*.*
  workflow_call:
  workflow_dispatch:

permissions: {}
jobs:
  sync:
    uses: nodenv/.github/.github/workflows/sync-default-branch.yml@v6
    permissions: { contents: write }

  subtrees:
    if: github.repository == 'nodenv/actions' # skip this job in subtree repos
    runs-on: ubuntu-latest
    permissions: { contents: write }
    strategy:
      matrix:
        action: [node-version, setup-nodenv]
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0 # fetch full history to replay in subtree
          token: ${{secrets.BOT_TOKEN}} # applies to subsequent git operations
      - run: |
          split_head=$(git subtree split --prefix ${{matrix.action}})
          git push "$remote" "${split_head:?}:${{github.ref}}"
        env:
          remote: https://github.com/${{github.repository}}-${{matrix.action}}

  ossf-scorecard:
    if: github.ref_name == github.event.repository.default_branch
    permissions: { id-token: write, security-events: write }
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with: { egress-policy: audit }
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          results_file: ossf-scorecard-results.sarif
          results_format: sarif
          publish_results: true
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ossf-scorecard-results.sarif
          path: ossf-scorecard-results.sarif
      - uses: github/codeql-action/upload-sarif@ce28f5bb42b7a9f2c824e633a3f6ee835bab6858 # v3.29.0
        with:
          sarif_file: ossf-scorecard-results.sarif
