name: Sync Refs
on:
  push:
    branches: main
    tags: v*.*.*
  workflow_call:
  workflow_dispatch:

permissions: {}
jobs:
  sync:
    uses: nodenv/.github/.github/workflows/sync-default-branch.yml@v6
    permissions: { contents: write }

  subtrees:
    if: github.repository == 'nodenv/actions' # skip this job in subtree repos
    runs-on: ubuntu-latest
    permissions: { contents: write }
    strategy:
      matrix:
        action: [node-version, setup-nodenv]
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # fetch full history to replay in subtree
          token: ${{secrets.BOT_TOKEN}} # applies to subsequent git operations
          persist-credentials: true # need creds for subsequent git operations
      - run: |
          split_head=$(git subtree split --prefix ${{matrix.action}})
          git push "$remote" "${split_head:?}:${GITHUB_REF}"
        env:
          remote: https://github.com/${{github.repository}}-${{matrix.action}}

  ossf-scorecard:
    if: github.ref_name == github.event.repository.default_branch
    permissions: { id-token: write, security-events: write }
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with: { egress-policy: audit }
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: { persist-credentials: false }
      - uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          results_file: ossf-scorecard-results.sarif
          results_format: sarif
          publish_results: true
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ossf-scorecard-results.sarif
          path: ossf-scorecard-results.sarif
      - uses: github/codeql-action/upload-sarif@ce28f5bb42b7a9f2c824e633a3f6ee835bab6858 # v3.29.0
        with:
          sarif_file: ossf-scorecard-results.sarif
